@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #4d4c5f;
  --background: #fefefe;
  --primary: #0eb4bd;
  --secondary: #d3e9ff;
  --accent: #92d400;
}

body {
  background-color: var(--background);
  color: var(--text);
}
